body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background:#ecf0f3;
}
.container{
   display:flex;
   flex-direction:column;
   align-items: center;
   background:#ecf0f3;
   /* box-shadow: 3px 3px 5px 2px rgb(236, 228, 228); */
   box-shadow: -5px -4px 7px #ffffff,
                5px 4px 5px #ceced1;
   max-width: 400px;
   width:100%;
   border-radius: 20px;
}
.arrow{
    position:relative;
    right:170px;
    top:30px;
    font-size:25px;
}
.menu{
    position:relative;
    left:170px;
    /* bottom:6px; */
    font-size:25px;
}
.profile-pic img{
    height:150px;
    width:150px;
    border-radius:50%;
    object-fit: cover;
    padding:15px;
    /* box-shadow: 3px 3px 5px 3px rgb(236, 228, 228); */
    box-shadow: -5px -4px 7px #ffffff,
                5px 4px 5px #ceced1;
}
.profile-pic{
    /* margin-top:30px; */
}
.txt{
    font-family: 'Poppins', sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.info p{
    font-weight:400;
    margin-top: 0;
}
.info h1{
    font-weight: 600;
    margin-bottom: 5px;
}
.subs-msg{
    display:flex;
}
.subs-msg .msg{
        margin-right:70px;
        font-family: 'Poppins', sans-serif;
        font-weight:600;
        font-size: 15px;
}
.subs-msg .subs{
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    font-size: 15px;
}
.subs-msg span{
    padding:15px 30px;
    border-radius:10px;
    /* box-shadow: 1px 1px 2px 2px rgb(236, 228, 228); */
    box-shadow: -5px -4px 7px #ffffff,
                5px 4px 5px #ceced1;
}
.impressions{
    margin:20px;
}
.media-buttons{
    margin:20px 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.media-buttons a{
    font-size: 25px;
    margin:0 10px;
    padding:5px;
    border-radius:50%;
    /* box-shadow: 1px 1px 2px 2px rgb(236, 228, 228); */
    box-shadow: -5px -4px 7px #ffffff,
                5px 4px 5px #ceced1;
    object-fit: cover;
}
.media-buttons .temp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bxl-facebook{
    color:rgb(59,89,152);
}
.bxl-twitter{
    color:rgb(29,161,242);
}
.bxl-instagram{
    color:rgb(208, 104, 102);
}
.bxl-youtube{
    color:rgb(205,32,31);
}
.impressions{
    display:flex;
    width:400px;
    justify-content: space-evenly;
    margin:30px 0;
}
.impressions div a{
    font-size: 20px;
}
.impressions div span{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    
   
}
.impressions div{
    padding:0 28px;
    border-right: 2px solid #dbd5d5 ;
}
div.last-item{
    border-right: none;
}